@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#principal{
    display: flex;
    flex-direction: column
}
/*seccion 1*/
#nav{
    background-color: #2c2b2b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    width: 99vw;
}

#seccionUno{
    background-image: url(../assets/imagenes/background.png);
    background-size: cover;
    background-position: center;
    height: 91vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.contenedor{
    margin-left: 7%;
    margin-right: 56%;
    margin-bottom: 5%;
}

#seccionUno h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 91px;
    color: white;
}

#seccionUno p{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: white;
}

#seccionUno button{
    background-color: #f76400;
    font-size: 30px;
    color: white;
    border: none;
    padding: 10px;
    width: 315px;
    margin-top: 35px;
}

/*seccion 2*/
#seccionDos{
    background-color: #f76400;
    color: white;
    width: 99vw;  
}

.contenedorDos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorDos h2{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-top: 30px;
}

.contenedorDos p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}

/*fichas*/
.fichas {
    display: flex;               
    justify-content: center;      
    gap: 75px;               
}

.fichaUno {
    background-color: #262626;
    width: 316px;
    height: 490px;
    text-align: center;
    margin-bottom: 4%;
}

.fichaUno img {
    width: 100%;
    height: 76%;
}

.fichaUno h2 {
    font-family: "Oswald", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.fichaUno p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    line-height: 1.4;
}

/*seccionTres*/
#seccionTres {
    background-color:#262626;
    color: white;
    width: 99vw; 
}

#seccionTres .contenedorDos h1{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-top: 60px;
}

#seccionTres .contenedorDos p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;

}

#seccionTres .fichaUno{
    background-color: #f76400;
}

#seccionTres .fichaUno img{
    width: 40%;
    height: 30%;
    margin: 20%;
}

#seccionTres button{
    background-color: #262626;
    font-size: 30px;
    color: white;
    border: none;
    padding: 7px;
    width: 200px;
    margin-top: 14px;
}

/*footer*/

footer{
    background-color: #f76400;
    width: 99vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}

/*Media queris*/

@media (max-width: 1279px) {
    .contenedorDos p {
        margin-left: 150px;
        margin-right: 150px;
    }

    .fichas {
        gap: 40px;
    }
}

@media (max-width: 920px) {
    #seccionUno {
    height: 64vh;
    }
    #seccionUno h1 {
        font-size: 60px;
    }

    .contenedor {
    margin-left: 6%;
    margin-right: 34%;
    margin-bottom: 3%;
    }

    #seccionUno button {
    font-size: 21px;
    padding: 9px;
    width: 258px;
    margin-top: 20px;
}
    #seccionUno p {
    font-size: 19px;
    }

    .fichas {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
    }

    #seccionTres .contenedorDos p{
        text-align: center;
        margin: 20px 60px;
    }
}

@media (max-width: 768px) {

#nav {
        padding: 2%;
    }

#seccionUno{
        height:61vh;
    }

.contenedor{
        margin-bottom: 3%;
        margin-right: 17%;
    }

#seccionUno h1 {
        font-size: 48px;
    }

#seccionUno p {
        font-size: 16px;
    }

#seccionUno button {
    font-size: 17px;
    padding: 9px;
    width: 204px;
    margin-top: 25px;
    }

    .contenedorDos h2 {
    font-size: 35px;
    margin-top: 20px;
    }

    .contenedorDos p {
        font-size: 20px;
        margin: 3%;
    }

    .fichas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
    }

    #seccionTres .contenedorDos h1 {
    font-size: 35px;
    margin-top: 32px;
    }

    #seccionTres .contenedorDos p {
    margin: 30px;
    text-align: center;
    }

    footer p{
        text-align: center;
    }
}

@media (max-width: 480px) {
    
}

@media (max-width: 480px) {
    #nav{
            gap: 170px;
            padding: 1%;
        }

    #seccionUno{
            height:33vh;
        }

    .contenedor{
            margin-bottom: 3%;
            margin-right: 11%;
            
        }

    #seccionUno h1 {
            font-size: 30px;
        }

    #seccionUno p {
            font-size: 13px;
        } 
        
    #seccionUno button {
        font-size: 12px;
        margin-top: 19px;
        width: 151px;
        }

    .contenedorDos h2 {
        font-size: 26px;
        }

    .contenedorDos p {
            font-size: 14px;
            margin-top: 14px;
            margin-bottom: 25px;
        }

    .fichas { 
        flex-direction: column;
        align-items: center;
        gap: 0px;                  
        }

    .fichaUno {   
        height: 360px;
        margin-bottom: 2%;
        height: 290px;
        }

    .fichaUno img {
        height: 63%;
        }
        
    #seccionTres .contenedorDos h1 {
        font-size: 30px;
        margin-top: 40px;
        }
    
    #seccionTres .contenedorDos p {
        margin: 30px;
        text-align: center;
        font-size: 16px;
        width: 77%;
        }

    #seccionTres .fichaUno img {
        width: 31%;
        height: 31%;
        margin: 6%;
        }

    #seccionTres button {
        font-size: 20px;
        margin-top: 2px;
        }

    footer{
        height: 60px;
        }
        
        footer p{
        font-size: 12px;    
        }
}
