*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
/*seccion 1*/
#nav{
    background-color: #2c2b2b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 830px;
    padding: 11px;
    width: 99vw;
}

#seccionUno{
    background-image: url(../assets/imagenes/background.png);
    background-size: cover;
    background-position: center;
    height: 91vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.contenedor{
    margin-left: 7%;
    margin-right: 56%;
    margin-bottom: 5%;
}

#seccionUno h1{
    font-size: 80px;
    color: white;
}

#seccionUno p{
    font-size: 22px;
    color: white;
}

#seccionUno button{
    background-color: #ff7606;
    font-size: 30px;
    color: white;
    border: none;
    padding: 10px;
    width: 315px;
    margin-top: 14px;
}

/*seccion 2*/
#seccionDos{
    background-color: #ff7606;
    color: white;
    width: 99vw;  
}

.contenedorDos h2{
    font-size: 40px;
    margin-top: 30px;
}

.contenedorDos p{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}
.contenedorDos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*fichas*/
.fichas {
    display: flex;               
    justify-content: center;      
    gap: 30px;               
}

.fichaUno {
    background-color: #222;
    width: 316px;
    height: 434px;
    text-align: center;
    margin-bottom: 4%;
}

.fichaUno img {
    width: 100%;
    height: 76%;
}

.fichaUno h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.fichaUno p {
    font-size: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    line-height: 1.4;
}

