@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
#principal{
    display: flex;
    flex-direction: column
}
/*seccion 1*/
#nav{
    background-color: #2c2b2b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 830px;
    padding: 11px;
    width: 99vw;
}

#seccionUno{
    background-image: url(../assets/imagenes/background.png);
    background-size: cover;
    background-position: center;
    height: 91vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.contenedor{
    margin-left: 7%;
    margin-right: 56%;
    margin-bottom: 5%;
}

#seccionUno h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 91px;
    color: white;
}

#seccionUno p{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: white;
}

#seccionUno button{
    background-color: #f76400;
    font-size: 30px;
    color: white;
    border: none;
    padding: 10px;
    width: 315px;
    margin-top: 35px;
}

/*seccion 2*/
#seccionDos{
    background-color: #f76400;
    color: white;
    width: 99vw;  
}

.contenedorDos h2{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-top: 30px;
}

.contenedorDos p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}
.contenedorDos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*fichas*/
.fichas {
    display: flex;               
    justify-content: center;      
    gap: 75px;               
}

.fichaUno {
    background-color: #262626;
    width: 316px;
    height: 490px;
    text-align: center;
    margin-bottom: 4%;
}

.fichaUno img {
    width: 100%;
    height: 76%;
}

.fichaUno h2 {
    font-family: "Oswald", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.fichaUno p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    line-height: 1.4;
}

/*seccionTres*/
#seccionTres {
    background-color:#262626;
    color: white;
    width: 99vw; 
}

#seccionTres .contenedorDos h1{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-top: 60px;
}

#seccionTres .contenedorDos p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;

}

#seccionTres .fichaUno{
    background-color: #f76400;
}

#seccionTres .fichaUno img{
    width: 40%;
    height: 30%;
    margin: 20%;
}

#seccionTres button{
    background-color: #262626;
    font-size: 30px;
    color: white;
    border: none;
    padding: 7px;
    width: 200px;
    margin-top: 14px;
}

/*footer*/

footer{
    background-color: #f76400;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;

}