*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
#nav{
    background-color: #2c2b2b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 930px;
    padding: 11px;
}

#seccionUno{
    background-image: url(../assets/imagenes/background.png);
    background-size: cover;
    background-position: center;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

#seccionUno h1{
    font-size: 80px;
    color: white;
}

#seccionUno p{
    font-size: 22px;
    color: white;
}

#seccionUno button{
    background-color: #ff7606;
    font-size: 30px;
    color: white;
    border: none;
    padding: 17px;
}

#seccionDos{
    background-color: #ff7606;
}

.fichas{
    display: flex;
}